html {
    min-height: 100%;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
}

.superheader {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: #1f2937;
    flex: 0 1 400px;
}

.header {
    height: 72px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

.header .logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.header a,
.splashtext #splashsubtitle {
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: space-around;
    flex: 0 1 auto;
}

.splashtext {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 16px;
    margin-bottom: 64px;
}

.splashtext #splashtitle {
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
}

.splashtext #splashbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
    width: 144px;
    flex: 0 0 auto;
    font-size: 18px;
    background-color: #3882f6;
    border-style: none;
    border-radius: 0.5rem;
    padding: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    flex: 1 0 0;
}

.image-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    margin: 64px;
}

#image-title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}


.image-list {
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.image-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.image {
    width: 144px;
    height: 144px;
    outline: #3882f6 solid 4px;
    border-radius: 0.5rem;
}

.image-subtext {
    color: #1f2937;
    font-size: 18px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
}

.quote-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    font-size: 28px;
}

.quote-author {
    font-weight: bold;
    font-style: normal;
    align-self: flex-end;
}

.call-to-action {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 64px;
    width: 100%;
    align-items: center;
}

.cta-container {
    width: 67%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 0.5rem;
    background-color: #3882f6;
    padding: 32px;
    gap: 32px;
}

.cta-text {
    margin-right: auto;
    color: #f9faf8;
    font-size: 18px;
}

.cta-text div {
    font-weight: bold;
    font-size: 24px;
}

.cta-text p {
    font-style: italic;
}

.cta-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
    width: 144px;
    flex: 0 0 auto;
    font-size: 18px;
    background-color: #3882f6;
    border: #f9faf8 solid 0.25em;
    border-radius: 0.5rem;
    padding: 8px;
    height: 40%;
    align-self: center;
}

.footer {
    margin-top: auto;
    padding: 32px;
    background-color: #1f2937;
    text-align: center;
    color: #f9faf8;
}

ul {
    display: flex;
    column-gap: 16px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    padding: 0;
    margin: 0;
    list-style-type: none;

}

a {
    text-decoration-line: none;
}